css
.grid-container {
  display: grid;
  grid-gap: 10px 20px;
  grid-auto-rows: minmax(150px, auto);
  grid-template-columns: 1fr 1fr 1fr
}
​
.topNav{
  display: flex;
  justify-content: space-between;
}
​
.topNavII{
  grid-area: 2 / 2 / 4 / 3
}
